@import 'https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400';

body {
    padding: 10px 20px;
    background: #1E1E1E;
    color: white;
    font-family: "Montserrat", serif;
    font-weight: 200;
}

a, p, h1, h2, h3, h4, h5 {
    font-family: "Montserrat", serif;
    color: white;
}